In [1]:
import tmdbsimple as tmdb
import pandas as pd

In [2]:
tmdb.API_KEY = '603e6d492e11fbf989297e05ad374470'

search = tmdb.Search()
discover = tmdb.Discover()

watched_df = pd.read_csv('/Users/daniellemattfeld/Downloads/letterboxd dec 2025/watched.csv')
watched_df

           Date                               Name  Year        Letterboxd URI
0    2020-02-23                           Parasite  2019  https://boxd.it/hTha
1    2020-02-23                            Get Out  2017  https://boxd.it/eOCm
2    2020-02-23                              Joker  2019  https://boxd.it/h4cS
3    2020-02-23  Spider-Man: Into the Spider-Verse  2018  https://boxd.it/azpY
4    2020-02-23                         La La Land  2016  https://boxd.it/a5fa
..          ...                                ...   ...                   ...
156  2025-11-29                               Flow  2024  https://boxd.it/v1Ei
157  2025-11-29                   Wicked: For Good  2025  https://boxd.it/AyfK
158  2025-11-30      Santa Claus Is Comin' to Town  1970  https://boxd.it/1QfI
159  2025-12-04                 KPop Demon Hunters  2025  https://boxd.it/ufwK
160  2025-12-05                           Gremlins  1984  https://boxd.it/29gg

[161 rows x 4 columns]

In [3]:
title = watched_df.Name.tolist()
print(title)
print(len(title))

['Parasite', 'Get Out', 'Joker', 'Spider-Man: Into the Spider-Verse', 'La La Land', 'Once Upon a Time... in Hollywood', 'Lady Bird', 'Baby Driver', 'Honey Boy', 'Little Women', 'Midsommar', 'Uncut Gems', 'Knives Out', 'The Lighthouse', 'Marriage Story', 'Snowpiercer', 'Us', 'Booksmart', 'The Farewell', 'Ready or Not', 'Frozen II', 'Yesterday', 'Zombieland: Double Tap', 'Chernobyl', 'Fyre', 'The Peanut Butter Falcon', 'Happy Death Day 2U', 'Always Be My Maybe', 'Fighting with My Family', 'Escape Room', 'Ma', 'Late Night', 'Black Mirror: Rachel, Jack and Ashley Too', 'Someone Great', 'Little Monsters', "The Neighbors' Window", 'Bikram: Yogi, Guru, Predator', 'Float', 'The Act', 'The Imagineering Story', 'The Wolf of Wall Street', 'Call Me by Your Name', 'Gone Girl', 'Django Unchained', 'Hereditary', 'A Quiet Place', 'Deadpool', 'Inside Out', 'Ex Machina', 'The Silence of the Lambs', 'The Social Network', 'It', 'Coco', 'Blade Runner', 'Rogue One: A Star Wars Story', 'The Matrix', 'Spirited Away', 'The Martian', 'Bohemian Rhapsody', 'Incredibles 2', 'The Florida Project', 'Boyhood', 'Eighth Grade', 'Jojo Rabbit', 'Challengers', 'Memories of Murder', 'Longlegs', 'Brokeback Mountain', 'Love Lies Bleeding', 'House', 'To All the Boys: P.S. I Still Love You', 'The Substance', 'Cure', 'Trap', 'Klaus', 'Evil Does Not Exist', 'Anora', 'Heretic', 'Nosferatu', 'Paris, Texas', 'Afraid', 'Twisters', 'Idle Hands', 'I Saw the TV Glow', "I'm Still Here", 'Twilight', 'The Twilight Saga: New Moon', 'The Twilight Saga: Eclipse', 'Lady Vengeance', 'House of Wax', 'Audition', 'Oldboy', 'The Handmaiden', 'Decision to Leave', 'Triangle of Sadness', 'Mickey 17', 'Opus', 'Labyrinth', 'Death of a Unicorn', 'Legend', 'Naked Lunch', 'Melancholia', 'The Lord of the Rings: The Fellowship of the Ring', 'Princess Mononoke', 'Companion', 'Clue', 'Sinners', 'The Cat in the Hat', 'Possession', 'A Man Escaped', 'Friendship', 'Conclave', 'Take Out', 'Prospect', 'Caché', 'Wild Strawberries', 'Spaceballs', 'Cronos', 'Sympathy for Mr. Vengeance', '28 Days Later', '28 Years Later', 'My Own Private Idaho', 'A Minecraft Movie', 'Fallen Angels', 'Drop', 'Eddington', 'Perfect Days', 'The Last Showgirl', 'The Holy Mountain', 'Cloud', 'Before Sunrise', 'Weapons', 'Prince of Broadway', 'Trainspotting', 'Bound', 'Threads', 'Bring Her Back', 'Unknown Number: The High School Catfish', 'Final Destination 2', "Serpent's Path", 'The Wicker Man', 'Secret Mall Apartment', 'One Battle After Another', 'The Smashing Machine', 'Coraline', 'Halloweentown', 'Wicked', 'The Luckiest Man in America', 'Ratcatcher', 'Kneecap', 'Titanic', 'Frankenstein', 'Bugonia', 'Nouvelle Vague', 'Die My Love', 'Drugstore Cowboy', 'Flow', 'Wicked: For Good', "Santa Claus Is Comin' to Town", 'KPop Demon Hunters', 'Gremlins']
161

In [4]:
released_year = watched_df.Year.tolist()
print(released_year)

[2019, 2017, 2019, 2018, 2016, 2019, 2017, 2017, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2013, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2013, 2017, 2014, 2012, 2018, 2018, 2016, 2015, 2015, 1991, 2010, 2017, 2017, 1982, 2016, 1999, 2001, 2015, 2018, 2018, 2017, 2014, 2018, 2019, 2024, 2003, 2024, 2005, 2024, 1977, 2020, 2024, 1997, 2024, 2019, 2023, 2024, 2024, 2024, 1984, 2024, 2024, 1999, 2024, 2024, 2008, 2009, 2010, 2005, 2005, 1999, 2003, 2016, 2022, 2022, 2025, 2025, 1986, 2025, 1985, 1991, 2011, 2001, 1997, 2025, 1985, 2025, 2003, 1981, 1956, 2024, 2024, 2004, 2018, 2005, 1957, 1987, 1992, 2002, 2002, 2025, 1991, 2025, 1995, 2025, 2025, 2023, 2024, 1973, 2024, 1995, 2025, 2008, 1996, 1996, 1984, 2025, 2025, 2003, 1998, 1973, 2024, 2025, 2025, 2009, 1998, 2024, 2024, 1999, 2024, 1997, 2025, 2025, 2025, 2025, 1989, 2024, 2025, 1970, 2025, 1984]

In [5]:
print(len(released_year))

161

In [6]:
result_count = 0
for i,j in zip(title, released_year):
    response = search.movie(query= i, year=j)
    for value in response['results']:
            if value['title'] == i:
                print(value['title'],"  /  ",
                    value['release_date'],"  /  ",
                    value['id'])
                result_count += 1
                break
        
print('Results Count: ', result_count)

Parasite   /   2019-05-30   /   496243
Get Out   /   2017-02-24   /   419430
Joker   /   2019-10-01   /   475557
Spider-Man: Into the Spider-Verse   /   2018-12-06   /   324857
La La Land   /   2016-12-01   /   313369
Once Upon a Time... in Hollywood   /   2019-07-24   /   466272
Lady Bird   /   2017-09-01   /   391713
Baby Driver   /   2017-06-28   /   339403
Honey Boy   /   2019-09-28   /   512263
Little Women   /   2019-12-25   /   331482
Midsommar   /   2019-07-03   /   530385
Uncut Gems   /   2019-08-30   /   473033
Knives Out   /   2019-11-27   /   546554
The Lighthouse   /   2019-10-18   /   503919
Marriage Story   /   2019-09-28   /   492188
Snowpiercer   /   2013-08-01   /   110415
Us   /   2019-03-14   /   458723
Booksmart   /   2019-05-24   /   505600
The Farewell   /   2019-07-12   /   565310
Ready or Not   /   2019-08-21   /   567609
Frozen II   /   2019-11-20   /   330457
Yesterday   /   2019-06-26   /   515195
Zombieland: Double Tap   /   2019-10-09   /   338967
Fyre   /   2019-01-18   /   567860
The Peanut Butter Falcon   /   2019-08-09   /   463257
Happy Death Day 2U   /   2019-02-13   /   512196
Always Be My Maybe   /   2019-05-31   /   513576
Fighting with My Family   /   2019-02-14   /   445629
Escape Room   /   2019-01-03   /   522681
Ma   /   2019-05-29   /   502416
Late Night   /   2019-01-25   /   523172
Someone Great   /   2019-04-19   /   515248
Little Monsters   /   2019-08-29   /   503125
The Neighbors' Window   /   2019-08-02   /   600274
Bikram: Yogi, Guru, Predator   /   2019-09-10   /   621753
Float   /   2019-11-12   /   574093
The Wolf of Wall Street   /   2013-12-25   /   106646
Call Me by Your Name   /   2017-07-28   /   398818
Gone Girl   /   2014-10-01   /   210577
Django Unchained   /   2012-12-25   /   68718
Hereditary   /   2018-06-07   /   493922
A Quiet Place   /   2018-04-03   /   447332
Deadpool   /   2016-02-09   /   293660
Inside Out   /   2015-06-17   /   150540
Ex Machina   /   2015-01-21   /   264660
The Silence of the Lambs   /   1991-02-14   /   274
The Social Network   /   2010-10-01   /   37799
It   /   2017-09-06   /   346364
Coco   /   2017-10-27   /   354912
Blade Runner   /   1982-06-25   /   78
Rogue One: A Star Wars Story   /   2016-12-14   /   330459
The Matrix   /   1999-03-31   /   603
Spirited Away   /   2001-07-20   /   129
The Martian   /   2015-09-30   /   286217
Bohemian Rhapsody   /   2018-10-24   /   424694
Incredibles 2   /   2018-06-14   /   260513
The Florida Project   /   2017-10-06   /   394117
Boyhood   /   2014-06-05   /   85350
Eighth Grade   /   2018-01-19   /   489925
Jojo Rabbit   /   2019-10-18   /   515001
Challengers   /   2024-04-18   /   937287
Memories of Murder   /   2003-04-25   /   11423
Longlegs   /   2024-07-10   /   1226578
Brokeback Mountain   /   2005-10-22   /   142
Love Lies Bleeding   /   2024-03-07   /   948549
House   /   1977-08-26   /   25623
To All the Boys: P.S. I Still Love You   /   2020-02-03   /   565426
The Substance   /   2024-09-07   /   933260
Cure   /   1997-12-27   /   36095
Trap   /   2024-07-31   /   1032823
Klaus   /   2019-11-08   /   508965
Evil Does Not Exist   /   2023-12-06   /   1156125
Anora   /   2024-10-14   /   1064213
Heretic   /   2024-10-31   /   1138194
Nosferatu   /   2024-12-25   /   426063
Paris, Texas   /   1984-07-16   /   655
Afraid   /   2024-08-28   /   1062215
Twisters   /   2024-07-10   /   718821
Idle Hands   /   1999-04-30   /   6552
I Saw the TV Glow   /   2024-05-03   /   858017
I'm Still Here   /   2024-09-19   /   1000837
Twilight   /   2008-11-20   /   8966
The Twilight Saga: New Moon   /   2009-11-18   /   18239
The Twilight Saga: Eclipse   /   2010-06-23   /   24021
Lady Vengeance   /   2005-07-29   /   4550
House of Wax   /   2005-05-05   /   10066
Audition   /   2000-03-03   /   11075
Oldboy   /   2003-11-21   /   670
The Handmaiden   /   2016-06-01   /   290098
Decision to Leave   /   2022-06-29   /   705996
Triangle of Sadness   /   2022-09-18   /   497828
Mickey 17   /   2025-02-28   /   696506
Opus   /   2025-03-13   /   1202479
Labyrinth   /   1986-06-27   /   13597
Death of a Unicorn   /   2025-03-27   /   1153714
Legend   /   1985-08-28   /   11976
Naked Lunch   /   1991-12-27   /   2742
Melancholia   /   2011-05-26   /   62215
The Lord of the Rings: The Fellowship of the Ring   /   2001-12-18   /   120
Princess Mononoke   /   1997-07-12   /   128
Companion   /   2025-01-22   /   1084199
Clue   /   1985-12-13   /   15196
Sinners   /   2025-04-16   /   1233413
The Cat in the Hat   /   2003-11-21   /   10588
Possession   /   1981-05-27   /   21484
A Man Escaped   /   1956-11-11   /   15244
Friendship   /   2025-05-09   /   1239655
Conclave   /   2024-10-25   /   974576
Take Out   /   2008-06-06   /   37736
Prospect   /   2018-10-02   /   506072
Caché   /   2005-10-05   /   445
Wild Strawberries   /   1957-08-28   /   614
Spaceballs   /   1987-06-24   /   957
Cronos   /   1993-11-05   /   11655
Sympathy for Mr. Vengeance   /   2002-03-29   /   4689
28 Days Later   /   2002-10-31   /   170
28 Years Later   /   2025-06-18   /   1100988
My Own Private Idaho   /   1991-02-01   /   468
A Minecraft Movie   /   2025-03-31   /   950387
Fallen Angels   /   1995-09-06   /   11220
Drop   /   2025-04-10   /   1249213
Eddington   /   2025-07-16   /   648878
Perfect Days   /   2023-11-10   /   976893
The Last Showgirl   /   2024-12-13   /   1235499
The Holy Mountain   /   1973-11-29   /   8327
Cloud   /   2024-09-27   /   1244244
Before Sunrise   /   1995-01-27   /   76
Weapons   /   2025-08-04   /   1078605
Prince of Broadway   /   2010-09-03   /   87081
Trainspotting   /   1996-02-23   /   627
Bound   /   1996-09-13   /   9303
Threads   /   1984-09-23   /   17835
Bring Her Back   /   2025-05-28   /   1151031
Unknown Number: The High School Catfish   /   2025-08-28   /   1517772
Final Destination 2   /   2003-01-31   /   9358
Serpent's Path   /   1998-02-21   /   103794
The Wicker Man   /   1973-12-06   /   16307
Secret Mall Apartment   /   2025-03-21   /   1237871
One Battle After Another   /   2025-09-23   /   1054867
The Smashing Machine   /   2025-10-01   /   760329
Coraline   /   2009-02-05   /   14836
Halloweentown   /   1998-11-10   /   27850
Wicked   /   2024-11-20   /   402431
The Luckiest Man in America   /   2025-04-04   /   1288070
Ratcatcher   /   1999-11-12   /   29698
Kneecap   /   2024-08-02   /   1180629
Titanic   /   1997-11-18   /   597
Frankenstein   /   2025-10-17   /   1062722
Bugonia   /   2025-10-23   /   701387
Nouvelle Vague   /   2025-10-08   /   1254808
Die My Love   /   2025-10-06   /   1033148
Drugstore Cowboy   /   1989-10-20   /   476
Flow   /   2024-11-09   /   1390255
Wicked: For Good   /   2025-11-19   /   967941
Santa Claus Is Comin' to Town   /   1970-12-13   /   13400
KPop Demon Hunters   /   2025-06-20   /   803796
Gremlins   /   1984-06-08   /   927
Results Count:  157

In [8]:
movie_id = []
result_count =0

for i, j in zip(title, released_year):
    response = search.movie(query = i, year= j)
    for value in response['results']:
        if value['title'] == i:
            movie_id.append(value['id'])
            result_count += 1
            break

print(movie_id)
print('Results Count: ', result_count)

[496243, 419430, 475557, 324857, 313369, 466272, 391713, 339403, 512263, 331482, 530385, 473033, 546554, 503919, 492188, 110415, 458723, 505600, 565310, 567609, 330457, 515195, 338967, 567860, 463257, 512196, 513576, 445629, 522681, 502416, 523172, 515248, 503125, 600274, 621753, 574093, 106646, 398818, 210577, 68718, 493922, 447332, 293660, 150540, 264660, 274, 37799, 346364, 354912, 78, 330459, 603, 129, 286217, 424694, 260513, 394117, 85350, 489925, 515001, 937287, 11423, 1226578, 142, 948549, 25623, 565426, 933260, 36095, 1032823, 508965, 1156125, 1064213, 1138194, 426063, 655, 1062215, 718821, 6552, 858017, 1000837, 8966, 18239, 24021, 4550, 10066, 11075, 670, 290098, 705996, 497828, 696506, 1202479, 13597, 1153714, 11976, 2742, 62215, 120, 128, 1084199, 15196, 1233413, 10588, 21484, 15244, 1239655, 974576, 37736, 506072, 445, 614, 957, 11655, 4689, 170, 1100988, 468, 950387, 11220, 1249213, 648878, 976893, 1235499, 8327, 1244244, 76, 1078605, 87081, 627, 9303, 17835, 1151031, 1517772, 9358, 103794, 16307, 1237871, 1054867, 760329, 14836, 27850, 402431, 1288070, 29698, 1180629, 597, 1062722, 701387, 1254808, 1033148, 476, 1390255, 967941, 13400, 803796, 927]
Results Count:  157

In [10]:
movie = tmdb.Movies(9303)
response = movie.info()
movie.title

'Bound'

In [11]:
movie_info = []

for i in movie_id:
    movie = tmdb.Movies(i)
    response = movie.info()
    movie_info.append([movie.id, movie.title, movie.genres, movie.runtime, movie.release_date])

movie_info[:2]

[[496243,
  'Parasite',
  [{'id': 35, 'name': 'Comedy'},
   {'id': 53, 'name': 'Thriller'},
   {'id': 18, 'name': 'Drama'}],
  133,
  '2019-05-30'],
 [419430,
  'Get Out',
  [{'id': 9648, 'name': 'Mystery'},
   {'id': 53, 'name': 'Thriller'},
   {'id': 27, 'name': 'Horror'}],
  104,
  '2017-02-24']]

In [15]:
movie_df = pd.DataFrame(movie_info, columns= ['id', 'title', 'genres', 'runtime', 'release date'])
movie_df.head()

,id,title,genres,runtime,release date
0,496243,Parasite,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",133,2019-05-30
1,419430,Get Out,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",104,2017-02-24
2,475557,Joker,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",122,2019-10-01
3,324857,Spider-Man: Into the Spider-Verse,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",117,2018-12-06
4,313369,La La Land,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",129,2016-12-01

In [16]:
movie_df.to_csv('watchedmovies2025.csv')